<% content_for :page_title, "Create a new post" %>

<%= render 'form' %>

<!--h1 class="title">New post</h1>

<div class="section">
	<!%= simple_form_for @post do |f|%>
		<div class="field">
			<div class="control">
				<!%= f.input :title, input_html: { class: 'input'}, wrapper: false, label_html: { class: 'label'} %>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<!%= f.input :content, input_html: { class: 'textarea'}, wrapper: false, label_html: { class: 'label'} %>
			</div>
		</div>
		<!%= f.button :submit, 'Create new post', class: "button is-primary" %>
	<!%end%>
</div-->